name: Build/Push
on:
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: GCR login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          password: ${{ secrets.GITHUB_TOKEN }}
          username: ${{ github.repository_owner }}
      - name: GP publishing
        uses: docker/build-push-action@v2.3.0
        with:
          push: true
          tags: ghcr.io/anvilfox1965/simple-ssh-compose-action:latest, ghcr.io/anvilfox1965/simple-ssh-compose-action:v${{ github.run_number }}
          # tags: ghcr.io/${{ github.repository }}:latest, ghcr.io/${{ github.repository }}:${{ github.run_number }}
